.complete_btn {
    padding: 0.35em;
    border: 2px #3AF none;
    border-radius: 5%;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    color:#29E;
    background-color: #FFF;
    
}

.complete_btn:hover {
    color:#FFF;
    background-color: #29E;
}